[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AnnotationBustR"]
	path = AnnotationBustR
	url = https://github.com/sborstein/annotationbustr
[submodule "dietr"]
	path = dietr
	url = https://github.com/sborstein/dietr
